:root{
    --clr-primary-400:hsl(25, 97%, 53%);


    --clr-neutral-900:hsl(0, 0%, 100%);
    --clr-neutral-700:hsl(217, 12%, 63%);
    --clr-neutral-500:hsl(216, 12%, 54%);
    --clr-neutral-300:hsl(213, 19%, 18%);
    --clr-neutral-100:hsl(216, 12%, 8%);

    --ff-accent:'Fraunces', serif;
    --ff-base:'Overpass', sans-serif;
    
    --fw-regular:500;
    --fw-bold:700;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    
    font-size: 15px;
    font-family: var(--ff-base);
    background-color: var(--clr-neutral-100);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

button{
    font-family: inherit;
}

p{
    line-height: 1.8 ;
}

.main__container img{
    padding: 0.8rem;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    margin-bottom: 2rem;
}
.main__container h1{
    color: white;
    margin: 2rem 0 1rem ;
}

.main__container p{
    color: var(--clr-neutral-700);
    margin-bottom: 1rem;
}

.main__container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main__container ul li button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-top: 0.2rem;
    background-color: hsl(210, 19%, 18%);
    cursor: pointer;
    transition: 0.3s;
}

.main__container ul li button:hover{
    background-color: var(--clr-primary-400);
}

.main__container ul li button:focus{
    background-color: var(--clr-neutral-700);
}

.btn__submit{
    background-color: var(--clr-primary-400);
    color: white;
    border: none;
    width: 100%;
    padding: 0.8rem 0 0.6rem 0;
    border-radius: 30px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn__submit:hover{
    background-color: white;
    color: var(--clr-primary-400);
}

.main__container, .thank__you{
    background-image: linear-gradient(
    to bottom,
    hsl(212, 18%, 14%),
    hsl(220, 16%, 11%)
  );
  max-width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 0.625rem;
}


.thank__you{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.thank__you img{
    display: block;
    margin: 0 auto 2rem;

}

.thank__you p.gray{
    font-size: 0.9rem;
    background-color: hsl(213 , 20%, 22%);
    border-radius: 30px;
    color: var(--clr-primary-400);
    padding: 0.2rem 0.5rem 0;
    margin-bottom: 2rem;
    
}

.thank__you h2{
    color: white;
    margin-bottom: 1rem;

}

.thank__you p{
    color: var(--clr-neutral-700);
    margin-bottom: 2rem;
}

.thank__you.hidden {
    display: none;
  }

/* .hidden{
    display: none;
} */